@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');
@import "tailwindcss";

.font-orbitron {
  font-family: 'Orbitron', sans-serif !important;
}

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  background: var(--background);
  color: var(--foreground);
}

/* Remove qualquer grid ou animação antiga */
body::before {
  display: none;
}

html,
body,
* {
  cursor: none !important;
}